#letter {
  display: none;
  margin: auto;
  background-image: url("../img/email.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 227px;
  padding-left: 40px;
  color: black;
  width: 800px;}

body {
  color: white;
  background-color: maroon;
}

button {
  background-color: black;
}
